<template>
  <v-progress-circular v-if="!resource.username" indeterminate :size="100" color="red">
  </v-progress-circular>
  <v-container v-else>
    <v-layout column>
      <v-flex>
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex>
              <v-card transition="scale-transition" v-if="resource.profile">
                <v-toolbar color="white" flat>
                  <v-btn icon light @click="$router.go(-1)">
                    <v-icon color="grey darken-2">arrow_back</v-icon>
                  </v-btn>
                  <v-toolbar-title class="grey--text text--darken-4">
                    {{ resource.profile.first_name }} {{ resource.profile.last_name }}
                  </v-toolbar-title>
                </v-toolbar>
                <v-card-media :src="resource.photo" height="200px">
                </v-card-media>
                <v-card-title primary-title>
                  <div>
                    <h3 class="headline mb-0">De pe {{ resource.student.admission_date }}</h3>
                  </div>
                </v-card-title>
                <v-card-actions>
                  <v-btn flat color="green">View all</v-btn>
                  <v-btn flat color="orange" @click="$router.push({
                      name: 'marks/marks',
                      params: { student: resource.id }
                    })">View marks</v-btn>
                  <v-btn flat color="orange" @click="$router.push({
                      name: 'absences/absences',
                      params: { student: resource.id }
                    })">View absences</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { StudentService } from '@/services';

export default {
  name: 'students-student',
  data: () => ({ resource: {} }),
  created() {
    StudentService.get(this.$route.params.id).then((response) => {
      this.resource = response.data;
    });
  },
};
</script>
