<template lang="pug">
  v-progress-circular(v-if='resources.length === 0' indeterminate :size='100' color='red')
  v-container(v-else)
    v-layout(column)
      v-flex
        v-container(fluid grid-list-md)
          v-layout(row wrap)
            v-flex(
              v-for='(resource, index) in resources'
              :index='index'
              :key='resource.id'
            )
              v-card(transition='scale-transition')
                v-card-media(:src='resource.photo' height='200px')
                v-card-title(primary-title)
                  div
                    h3(class='headline mb-0') {{ resource.name }}
                v-card-actions
                  v-btn(
                    flat
                    color='green'
                    @click='goResource(resource.id)'
                  ) View department
</template>

<script>
import { DepartmentService } from '@/services';

export default {
  name: 'departments-list',
  data() {
    return {
      resources: [],
    };
  },
  created() {
    DepartmentService.query().then((response) => {
      this.resources = response.data;
    });
  },
  methods: {
    goResource(id) {
      this.$router.push({
        name: 'departments/department',
        params: { id },
      });
    },
  },
};
</script>
