<template>
  <v-progress-circular v-if="resources.length === 0" indeterminate :size="100" color="red">
  </v-progress-circular>
  <v-container v-else>
    <v-layout column>
      <v-flex>
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex v-for="resource in resources"
                :key="resource.name"
                :item="resource">
              <v-card transition="scale-transition">
                <v-card-media :src="resource.photo" height="200px">
                </v-card-media>
                <v-card-title primary-title>
                  <div>
                    <h3 class="headline mb-0">{{ resource.name }}</h3>
                  </div>
                </v-card-title>
                <v-card-actions>
                    <v-btn flat color="green" @click="$router.push({
                      name: 'specialities/speciality',
                      params: { id: resource.id }
                    })">View speciality</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { SpecialityService } from '@/services';

export default {
  name: 'specialities-list',
  data() {
    return {
      resources: [],
    };
  },
  created() {
    SpecialityService.query(this.$route.query).then((response) => {
      this.resources = response.data;
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
