<template>
  <v-progress-circular v-if="!resource.name" indeterminate :size="100" color="red">
  </v-progress-circular>
  <v-container v-else>
    <v-layout column>
      <v-flex>
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex>
              <v-card transition="scale-transition">
                <v-toolbar color="white" flat>
                  <v-btn icon light @click="$router.go(-1)">
                    <v-icon color="grey darken-2">arrow_back</v-icon>
                  </v-btn>
                  <v-toolbar-title class="grey--text text--darken-4">
                    {{ resource.name }}
                  </v-toolbar-title>
                </v-toolbar>
                <v-card-media :src="resource.photo" height="200px">
                </v-card-media>
                <v-card-title primary-title>
                  <div>
                    <h3 class="headline mb-0">{{ resource.name }}</h3>
                  </div>
                </v-card-title>
                <v-card-actions>
                  <v-btn flat color="green">View all</v-btn>
                  <v-btn flat color="orange" @click="$router.push({
                    name: 'students/list',
                    query: { 'student__group': $route.params.id }
                  })">View students</v-btn>
                  <v-btn flat color="orange" @click="$router.push({
                    name: 'groups/register',
                    params: { 'id': $route.params.id }
                  })">View register</v-btn>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { GroupService } from '@/services';

export default {
  name: 'groups-group',
  data() {
    return {
      resource: {},
    };
  },
  created() {
    GroupService.get(this.$route.params.id).then((response) => {
      this.resource = response.data;
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
