<template>
  <v-progress-circular v-if="resources.length === 0" indeterminate :size="100" color="red">
  </v-progress-circular>
  <v-container v-else>
    <v-layout column>
      <v-flex>
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex v-for="resource in resources" :key="resource.name">
              <v-card transition="scale-transition">
                <v-card-media :src="resource.photo" height="200px">
                </v-card-media>
                <v-card-title primary-title>
                  <div>
                    <h3 class="headline mb-0">{{ resource.name }}</h3>
                  </div>
                </v-card-title>
                <v-card-actions>
                  <v-flex>
                    <v-btn flat color="green" @click="$router.push({
                      name: 'groups/group',
                      params: { id: resource.id }
                    })">View group</v-btn>
                    <v-btn flat color="green"
                      @click="$router.push({
                        name: 'timetables/list',
                        params: { group: resource.id }
                      })"
                    >View timetables</v-btn>
                  </v-flex>
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { GroupService } from '@/services';

export default {
  name: 'groups-list',
  data() {
    return {
      resources: [],
    };
  },
  created() {
    GroupService.query(this.$route.query).then((response) => {
      this.resources = response.data;
    });
  },
};
</script>
