<template>
  <v-progress-circular v-if="loading" indeterminate :size="100" color="red">
  </v-progress-circular>
  <v-container v-else>
    <v-date-picker
      v-model="date"
      full-width
      type="month"
    ></v-date-picker>
    <div style="max-width: 95vw; overflow-y: scroll;">
      <vuetable ref="vuetable"
        :api-mode="false"
        :data="studentData"
        :fields="fields"
        :value="new Date()"
      ></vuetable>
    </div>
  </v-container>
</template>

<style>
tbody tr {
  background-color: #666;
}

table.table tbody td:first-child,
table.table tbody td:not(:first-child),
table.table tbody th:first-child,
table.table tbody th:not(:first-child),
table.table thead td:first-child,
table.table thead td:not(:first-child),
table.table thead th:first-child,
table.table thead th:not(:first-child) {
  padding: 0 12px !important;
}

table.table thead th {
  border-right: 1px solid rgba(50, 95, 150, 0.4);
}

table.table thead th:last-child,
table.table tbody td:last-child {
  border-right: 0px;
}

table.table tbody td {
  border-right: 1px solid rgba(167, 181, 204, 0.3);
}
</style>

<script>
import Vuetable from 'vuetable-2/src/components/Vuetable';
import { GroupService } from '@/services';
import { getDaysOfMonth } from '@/utils/date';

export default {
  components: {
    Vuetable,
  },
  data() {
    return {
      date: `${new Date().getFullYear()}-${`0${new Date().getMonth() + 1}`.slice(-2)}`,
      loading: true,
      query: { },
      studentData: [],
      fields: [
        {
          name: '__sequence',
          title: '#',
        },
        {
          name: 'profile.first_name',
          title: 'Firstname',
          sortField: 'firstName',
        },
        {
          name: 'profile.last_name',
          title: 'Lastname',
          callback: 'capsLock',
        },
      ],
    };
  },
  created() {
    for (let i = 1; i <= getDaysOfMonth('2018-06-01'); i += 1) {
      this.fields.push({
        name: 'marks',
        title: i,
        callback: `markFromObject|${i}`,
      });
    }
    this.query.month = `${this.date}-01`;
    this.handleChange();
  },
  watch: {
    date(date) {
      this.query.month = `${date}-01`;
      this.loading = true;
      this.handleChange();
    },
  },
  methods: {
    capsLock(string) {
      return string.toUpperCase();
    },
    markFromObject(columnData, day) {
      const data = columnData.find(row => row.day.toString() === day);
      return data ? data.mark : null;
    },
    handleChange() {
      GroupService.get(this.$route.params.id, 'marks', this.query).then(
        (response) => {
          this.loading = false;
          this.studentData = response.data;
        },
      );
    },
  },
};
</script>
