<template>
    <v-progress-circular v-if="items.length === 0" indeterminate :size="100" color="red">
    </v-progress-circular>
    <v-container v-else>
        <v-layout column>
            <v-flex>
                <v-container fluid grid-list-md>
                    <v-layout row wrap>
                        <v-flex xs12 sm6 md4 lg4
                            v-for="item in items" :key="item.name"
                        >
                            <v-card >
                                <v-card-title><h4>{{ item.name }}</h4></v-card-title>
                                <v-divider></v-divider>
                                <v-list two-line>
                                    <template v-for="(lesson, index) in item.lessons">
                                        <v-list-tile :key="lesson.id">
                                            <v-list-tile-content>
                                                <v-container fluid>
                                                    <v-layout row wrap>
                                                        <v-flex lg6>
                                                            <v-list-tile-title
                                                                v-html="getPeriod(lesson.period)"
                                                            ></v-list-tile-title>
                                                            <v-list-tile-sub-title
                                                                v-html="lesson.subject.name"
                                                            ></v-list-tile-sub-title>
                                                        </v-flex>
                                                        <v-flex lg6>
                                                            <v-chip
                                                                v-for="staff in lesson.staffs"
                                                                :key="staff.username"
                                                                @click.stop="activateDialog(
                                                                    'staff',
                                                                    staff
                                                                )"
                                                            >
                                                                <v-avatar>
                                                                    <img
                                                                    :alt="`${
                                                                        staff.profile.first_name
                                                                    } ${
                                                                        staff.profile.last_name
                                                                    }`"
                                                                    :title="`${
                                                                        staff.profile.first_name
                                                                    } ${
                                                                        staff.profile.last_name
                                                                    }`"
                                                                    :src="staff.photo">
                                                                </v-avatar>
                                                                {{ staff.profile.first_name }}
                                                                {{ staff.profile.last_name}}
                                                            </v-chip>
                                                        </v-flex>
                                                    </v-layout>
                                                </v-container>
                                            </v-list-tile-content>
                                        </v-list-tile>
                                        <v-divider :key="index"></v-divider>
                                    </template>
                                </v-list>
                                <v-card-actions>
                                    <v-btn flat
                                        @click.stop="activateDialog('day', item)"
                                    >details</v-btn>
                                </v-card-actions>
                            </v-card>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-flex>
            <v-dialog v-model="infoDialog" max-width="500px">
                <v-card>
                    <v-card-title>
                        {{ activeDay.name }}
                    </v-card-title>
                    <v-card-text>
                        <p>{{ activeDay.lessons }}</p>
                    </v-card-text>
                    <v-card-actions>
                        <v-btn color="primary" flat @click.stop="infoDialog = false">Close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

            <v-dialog v-model="staffDialog" max-width="500px">
                <v-card>
                    <v-card-media :src="activeStaff.photo" height="300px">
                    <v-layout column class="media">
                        <v-spacer></v-spacer>
                        <v-card-title class="black--text pl-5 pt-5">
                        <div class="display-1 pl-5 pt-5" v-if="activeStaff.profile">
                            {{ activeStaff.profile.first_name }}
                            {{ activeStaff.profile.last_name}}
                        </div>
                        </v-card-title>
                    </v-layout>
                    </v-card-media>
                    <v-list two-line>
                    <v-list-tile>
                        <v-list-tile-action>
                        <v-icon color="indigo">phone</v-icon>
                        </v-list-tile-action>
                        <v-list-tile-content>
                        <v-list-tile-title>(650) 555-1234</v-list-tile-title>
                        <v-list-tile-sub-title>Mobile</v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                        <v-icon>chat</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    <v-list-tile>
                        <v-list-tile-action></v-list-tile-action>
                        <v-list-tile-content>
                        <v-list-tile-title>(323) 555-6789</v-list-tile-title>
                        <v-list-tile-sub-title>Work</v-list-tile-sub-title>
                        </v-list-tile-content>
                        <v-list-tile-action>
                        <v-icon>chat</v-icon>
                        </v-list-tile-action>
                    </v-list-tile>
                    </v-list>
                    <v-card-actions>
                        <v-btn flat @click.stop="staffDialog = false">close</v-btn>
                    </v-card-actions>
                </v-card>
            </v-dialog>

        </v-layout>
    </v-container>
</template>

<script>
import moment from 'moment';
import { TimetablesService } from '@/services';

export default {
  data: () => ({
    infoDialog: false,
    staffDialog: false,
    activeStaff: {},
    activeDay: {},
    items: [],
  }),
  created() {
    const query = { groups: this.$route.params.group };
    TimetablesService.query(query).then((response) => {
      response
        .data
        .map(element => element.day_of_week.name)
        .filter((value, index, self) => self.indexOf(value) === index)
        .forEach((day) => {
          this.items.push({
            name: day,
            lessons: response
              .data
              .filter(lesson => lesson.day_of_week.name === day)
              .sort((first, second) =>
                (moment(first.period.starts_at, moment.HTML5_FMT.TIME_SECONDS) >
                moment(second.period.starts_at, moment.HTML5_FMT.TIME_SECONDS) ? 1 : -1),
              ),
          });
        });
      this
        .items
        .sort((first, second) =>
          (first.lessons[0].day_of_week.index > second.lessons[0].day_of_week.index ? 1 : -1),
        );
    });
  },
  methods: {
    getPeriod: per => `From ${per.starts_at} to ${per.ends_at}`,
    activateDialog(objType, inst) {
      this[objType === 'staff' ? 'activeStaff' : 'activeDay'] = inst;
      this[objType === 'staff' ? 'staffDialog' : 'infoDialog'] = true;
    },
  },
};
</script>

<style>
.list--two-line .list__tile {
    height: auto !important;
}
</style>
