<template lang='pug'>
  v-container
    v-layout(column)
        v-layout(row wrap justify-center)
            v-flex(xs12 sm12 md2 m2 mx-1 my-3)
                v-card
                    v-card-title
                        h4 Totaluri
                    v-divider
                    v-list(dense class='absences-wrapper')
                        v-list-tile
                            v-list-tile-content Absente:
                            v-list-tile-content(class='align-end') {{  }}
                        v-list-tile
                            v-list-tile-content Fat:
                            v-list-tile-content(class='align-end') props.item.fat
                        v-list-tile
                            v-list-tile-content Fat:
                            v-list-tile-content(class='align-end') props.item.fat
                        v-list-tile
                            v-list-tile-content Fat:
                            v-list-tile-content(class='align-end') props.item.fat
                        v-list-tile
                            v-list-tile-content Fat:
                            v-list-tile-content(class='align-end') props.item.fat
                        v-list-tile
                            v-list-tile-content Fat:
                            v-list-tile-content(class='align-end') props.item.fat
                        v-list-tile
                            v-list-tile-content Fat:
                            v-list-tile-content(class='align-end') props.item.fat
                        v-list-tile
                            v-list-tile-content Fat:
                            v-list-tile-content(class='align-end') props.item.fat

            v-flex(xs12 sm12 md2 m2 mx-1 my-3)
                v-card
                    v-card-title
                        h4 Lipse
                    v-divider
                    v-list(dense class='absences-wrapper' v-if='absences.length !== 0')
                        v-list-tile(v-for='(item, index) in absences' :key='index')
                            v-list-tile-content {{ item.event.topic }}
                            v-list-tile-content(class='align-end') {{ item.is_reasoned }}

        v-snackbar(:timeout='6000' bottom right v-model='snackbar') {{ message }}
            v-btn(flat color='pink' @click.native='snackbar = false') Close
</template>

<script>
// import MarkStatistics from '@/components/MarkStatistics';
import { AbsenceService } from '@/services';
// import SubjectService from './subjects.service';
// import SemesterService from './semester.service';

class ChartMark {
  constructor(value, comment) {
    this.value = value;
    this.comment = comment;
  }

  toString() {
    return this.value;
  }
}

export default {
  name: 'marks-list',
  //   components: { MarkStatistics },
  data() {
    return {
      subject: null,
      loading: true,
      subjects: [],
      absences: [],
      semester: null,
      semesters: [],
      chart: null,
      snackbar: false,
      message: '',
      query: { referer: this.$route.params.student },
      options: {
        scales: {
          xAxes: [
            {
              display: true,
              scaleLabel: {
                display: true,
                labelString: 'Days',
              },
            },
          ],
          yAxes: [
            {
              display: true,
              ticks: {
                beginAtZero: true,
                steps: 20,
                stepSize: 0.5,
                max: 10,
              },
            },
          ],
        },
        responsive: true,
        maintainAspectRatio: false,
        tooltips: {
          callbacks: {
            afterLabel(tooltipItem, data) {
              const { comment } = data.datasets[0].data[tooltipItem.index];
              return comment ? `Comment: ${comment}` : comment;
            },
          },
        },
      },
    };
  },
  mounted() {
    this.loading = true;
    Promise.all([
      AbsenceService.query(this.query),
      //   SubjectService.query(),
      //   SemesterService.query(),
    ]).then((responses) => {
      const [absenceResponse, subjectResponse, semesterResponse] = responses;
      this.loading = false;

      if (absenceResponse.data.length !== 0) {
        this.absences = absenceResponse.data;
        // this.changeData(absenceResponse.data);
      } else {
        this.snackbar = true;
        this.message = 'Query for this props are empty';
      }
      this.subjects = subjectResponse.data;
      this.semesters = semesterResponse.data;
    });
  },
  // watch: {
  //   subject(subject) {
  //     this.query.event__subject = subject.id;
  //     this.loading = true;
  //     this.handleChange();
  //   },
  //   semester(semester) {
  //     this.query.semester = semester.id;
  //     this.loading = true;
  //     this.handleChange();
  //   },
  // },
  methods: {
    handleChange() {
      AbsenceService.query(this.query).then((response) => {
        this.loading = false;
        if (response.data.length !== 0) {
          this.changeData(response.data);
        } else {
          this.snackbar = true;
          this.message = 'Query for this props are empty';
        }
      });
    },
    changeData(data) {
      this.chart = {
        // labels: data.map(mark => moment(mark.event.date).format('MM/DD/YYYY')),
        datasets: [
          {
            label: 'Mark',
            backgroundColor: '#7f8c8d',
            data: data.map(mark => new ChartMark(mark.mark, mark.comment)),
          },
        ],
      };
    },
  },
};
</script>

<style>
.absences-wrapper {
  overflow: auto;
  max-height: 290px;
  min-height: 290px;
}
</style>
