<template>
  <v-container>
    <v-layout column>
      <v-flex>
        <v-container fluid grid-list-md>
          <v-layout row wrap>
            <v-flex v-for="resource in resources"
              :key="resource.name">
              <v-card transition="scale-transition">
                <v-card-media :src="resource.photo" height="200px">
                </v-card-media>
                <v-card-title primary-title>
                  <div>
                    <h3 class="headline mb-0">{{ resource.name }}</h3>
                  </div>
                </v-card-title>
                <v-card-actions>
                  <v-btn flat color="green" @click="$router.push({
                    name: resource.name.toLowerCase() + '/list',
                  })">View {{ resource.name.toLowerCase() }}</v-btn>
                  <!-- <v-btn flat color="orange">Explore</v-btn> -->
                </v-card-actions>
              </v-card>
            </v-flex>
          </v-layout>
        </v-container>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'Dashboard',
  data() {
    return {
      resources: [
        {
          photo: 'http://www.villageofallouez.com/wp-content/uploads/2013/04/departments.jpg',
          name: 'Departments',
        },
        {
          photo: 'http://www.mediteksol.com/wp-content/uploads/2015/09/specialities.jpg',
          name: 'Specialities',
        },
        {
          photo: 'http://thecompanion.in/wp-content/uploads/2014/11/male-teacher-cartoon.jpg',
          name: 'Teachers',
        },
        {
          photo: 'https://www.timeshighereducation.com/sites/default/files/styles/article_teaser/public/students_reading_online.jpg?itok=NPeK_wK3',
          name: 'Students',
        },
      ],
    };
  },
};
</script>
