<template>
  <v-layout justify-center align-center>
    <v-flex lg3 xl3 md6 sm6 xs12>
      <v-card>
        <v-container>
          <v-layout justify-center align-center>
            <v-icon x-large>fa-user-o</v-icon>
          </v-layout>
          <v-form v-model="valid" ref="form" @submit.prevent="onSubmit">
            <v-text-field
              :disabled="submited"
              label="Username"
              v-model="credentials.username"
              :rules="rules.username"
              required
            ></v-text-field>
            <v-text-field
              :disabled="submited"
              label="Password"
              v-model="credentials.password"
              :rules="rules.password"
              type="password"
              required
            ></v-text-field>
            <v-layout justify-center align-center>
              <v-btn
                type="submit"
                :disabled="!valid || submited"
              >
                login &nbsp;
                <v-icon>fa-sign-in</v-icon>
              </v-btn>
            </v-layout>
          </v-form>
        </v-container>
        <ListErrors :error="error"/>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
import { LOGIN } from '@/store/actions.type';
import ListErrors from '@/components/ListErrors';

export default {
  name: 'Login',
  components: { ListErrors },
  data() {
    return {
      valid: false,
      submited: false,
      credentials: {
        username: '',
        password: '',
      },
      rules: {
        username: [
          v => !!v || 'Username is required',
          v =>
            /^[a-z0-9_-]{3,}$/.test(v) ||
            'Username must contain only lowercase letters and (_ or -) signs.',
        ],
        password: [v => !!v || 'Password is required'],
      },
    };
  },
  methods: {
    onSubmit() {
      if (this.$refs.form.validate()) {
        this.submited = true;
        this.$store
          .dispatch(LOGIN, this.credentials)
          .then(() => this.$router.push({ name: 'Dashboard' }))
          .catch(() => {
            this.submited = false;
          });
      }
    },
  },
  computed: {
    error() {
      return this.$store.state.auth.error;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
