<template>
    <v-layout>
        <v-flex xs12 sm6 offset-sm3>
        <v-card v-if="user && user.profile">
            <v-card-media :src="user.photo" height="200px">
            </v-card-media>
            <v-card-title primary-title>
            <div>
                <h3 class="headline mb-0">{{ user.profile.last_name }}</h3>
                <div>From: {{ user.profile.addresses[0] }}</div>
            </div>
            </v-card-title>
            <v-expansion-panel>
                <v-expansion-panel-content
                    v-for="(value_f_l, key_f_l) in user" :key="key_f_l"
                >
                    <div slot="header">{{ key_f_l }}</div>
                    <v-card>
                        <v-card-text class="grey"
                            v-if="typeof value_f_l !== 'object'"
                        >
                            {{ value_f_l }}
                        </v-card-text>
                        <v-expansion-panel v-else light>
                            <v-expansion-panel-content
                                v-for="(value_s_l, key_s_l) in value_f_l" :key="key_s_l"
                            >
                                <div slot="header">{{ key_s_l }}</div>
                                <v-card>
                                    <v-card-text class="grey"
                                        v-if="typeof value_s_l !== 'object'"
                                    >
                                        {{ value_s_l }}
                                    </v-card-text>
                                    <v-expansion-panel v-else dark>
                                        <v-expansion-panel-content
                                            v-for="(value_t_l, key_t_l) in value_s_l" :key="key_t_l"
                                        >
                                            <div slot="header">{{ key_t_l }}</div>
                                            <v-card>
                                                <v-card-text class="grey"
                                                    v-if="typeof value_t_l !== 'object'"
                                                >
                                                    {{ value_t_l }}
                                                </v-card-text>
                                            </v-card>
                                        </v-expansion-panel-content>
                                    </v-expansion-panel>
                                </v-card>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-card>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-card>
        </v-flex>
    </v-layout>
</template>

<script>
export default {
  name: 'Profile',
  computed: {
    user() {
      return this.$store.state.auth.user;
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
