<template>
  <v-snackbar
  :timeout="4000"
  color="error"
  :right="true"
  v-model="snackbar"
  v-show="Object.keys(error).length !== 0"
  >
    <span v-if="typeof error.data === 'string'">{{ error.data }}</span>
    <template v-else>
      <span v-for="(value, key) in error.data" :key="key">
        <span v-if="typeof value === 'string'">{{ value }}</span>
        <span v-else v-for="(value1, key1) in value" :key="key1">{{ value1 }}</span>
      </span>
    </template>
    <v-btn dark flat @click.native="snackbar = false">Close</v-btn>
  </v-snackbar>
</template>

<script>
export default {
  name: 'ListErrors',
  data() {
    return {
      snackbar: true,
    };
  },
  props: {
    error: { type: Object, required: true },
  },
  watch: {
    error() {
      this.snackbar = Object.keys(this.error).length !== 0;
    },
  },
};
</script>
