<template>
    <v-list class="pt-0" dense>
        <v-divider light></v-divider>
        <v-list-tile :to="{ name: 'Dashboard' }">
            <v-list-tile-action>
            <v-icon>dashboard</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
            <v-list-tile-title>Dashboard</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="{ name: 'Profile' }">
            <v-list-tile-action>
            <v-icon>settings</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
            <v-list-tile-title>Profile</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="{ name: 'departments/list' }">
            <v-list-tile-action>
            <v-icon>device_hub</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
            <v-list-tile-title>Departments</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="{ name: 'specialities/list' }">
            <v-list-tile-action>
            <v-icon>widgets</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
            <v-list-tile-title>Specialities</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="{ name: 'groups/list' }">
            <v-list-tile-action>
            <v-icon>supervisor_account</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
            <v-list-tile-title>Groups</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="{ name: 'students/list' }">
            <v-list-tile-action>
            <v-icon>perm_identity</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
            <v-list-tile-title>Students</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile :to="{ path: '/timetables' }">
            <v-list-tile-action>
            <v-icon>chrome_reader_mode</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
            <v-list-tile-title>Timetables</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
        <v-list-tile @click="logOut">
            <v-list-tile-action>
            <v-icon>fa-sign-out</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
            <v-list-tile-title>Log-out</v-list-tile-title>
            </v-list-tile-content>
        </v-list-tile>
    </v-list>
</template>

<script>
import { LOGOUT } from '@/store/actions.type';

export default {
  name: 's-i-m-c-menu',
  methods: {
    logOut() {
      this.$store.dispatch(LOGOUT).then(() => {
        this.$router.push({ name: 'Login' });
      });
    },
  },
};
</script>
