<template>
  <v-container fluid fill-height>
    <v-layout column>
      <v-layout row wrap>
        <v-flex xs12 sm12 md2>
          <v-subheader v-text="'Select a subject'"></v-subheader>
        </v-flex>
        <v-flex xs12 sm12 md2>
          <v-select
            :items="subjects"
            v-model="subject"
            label="Select subject"
            item-text="name"
            autocomplete
          ></v-select>
        </v-flex>
      </v-layout>
      <v-layout row wrap>
        <v-flex xs12 sm12 md2>
          <v-subheader v-text="'Select a semester'"></v-subheader>
        </v-flex>
        <v-flex xs12 sm12 md2>
          <v-select
            :items="semesters"
            v-model="semester"
            label="Select semester"
            item-text="name"
            autocomplete
          ></v-select>
        </v-flex>
      </v-layout>
      <v-flex xs12 sm12>
        <v-container v-if="loading">
          <v-layout align-center justify-center>
            <v-flex md2>
              <v-progress-circular indeterminate :size="100" color="red">
              </v-progress-circular>
            </v-flex>
          </v-layout>
        </v-container>
        <mark-statistics
          v-else-if="chart"
          :chart-data="chart"
          :options="options">
        </mark-statistics>
        <h1 v-else>There's no marks for this criteria</h1>
      </v-flex>
      <v-snackbar
        :timeout="6000"
        bottom
        right
        v-model="snackbar"
      >
        {{ message }}
        <v-btn flat color="pink" @click.native="snackbar = false">Close</v-btn>
      </v-snackbar>
    </v-layout>
  </v-container>
</template>

<script>
import MarkStatistics from '@/components/MarkStatistics';
import moment from 'moment';
import { MarkService, SubjectService, SemesterService } from '@/services';

class ChartMark {
  constructor(value, comment) {
    this.value = value;
    this.comment = comment;
  }

  toString() {
    return this.value;
  }
}

export default {
  name: 'marks-list',
  components: { MarkStatistics },
  data() {
    return {
      subject: null,
      loading: true,
      subjects: [],
      semester: null,
      semesters: [],
      chart: null,
      snackbar: false,
      message: '',
      query: { referer: this.$route.params.student },
      options: {
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Days',
            },
          }],
          yAxes: [{
            display: true,
            ticks: {
              beginAtZero: true,
              steps: 20,
              stepSize: 0.5,
              max: 10,
            },
          }],
        },
        responsive: true,
        maintainAspectRatio: false,
        tooltips: {
          callbacks: {
            afterLabel(tooltipItem, data) {
              const { comment } = data.datasets[0].data[tooltipItem.index];
              return comment ? `Comment: ${comment}` : comment;
            },
          },
        },
      },
    };
  },
  mounted() {
    this.loading = true;
    Promise.all([
      MarkService.query(this.query),
      SubjectService.query(),
      SemesterService.query(),
    ]).then((responses) => {
      const [markResponse, subjectResponse, semesterResponse] = responses;
      this.loading = false;
      if (markResponse.data.length !== 0) {
        this.changeData(markResponse.data);
      } else {
        this.snackbar = true;
        this.message = 'Query for this props are empty';
      }
      this.subjects = subjectResponse.data;
      this.semesters = semesterResponse.data;
    });
  },
  watch: {
    subject(subject) {
      this.query.event__subject = subject.id;
      this.loading = true;
      this.handleChange();
    },
    semester(semester) {
      this.query.semester = semester.id;
      this.loading = true;
      this.handleChange();
    },
  },
  methods: {
    handleChange() {
      MarkService.query(this.query).then((response) => {
        this.loading = false;
        if (response.data.length !== 0) {
          this.changeData(response.data);
        } else {
          this.snackbar = true;
          this.message = 'Query for this props are empty';
        }
      });
    },
    changeData(data) {
      this.chart = {
        labels: data.map(mark => moment(mark.event.date).format('MM/DD/YYYY')),
        datasets: [{
          label: 'Mark',
          backgroundColor: '#7f8c8d',
          data: data.map(mark => new ChartMark(mark.mark, mark.comment)),
        }],
      };
    },
  },
};
</script>
