<template>
  <v-app id="app" v-cloak dark>
    <v-navigation-drawer
      temporary
      absolute
      dark
      v-model="drawer"
      :mini-variant="mini"
      v-if="isAuthenticated"
    >
      <v-list class="pa-1" v-if="user && user.profile">
        <v-list-tile v-if="mini" @click.stop="mini = !mini">
          <v-list-tile-action>
            <v-icon>chevron_right</v-icon>
          </v-list-tile-action>
        </v-list-tile>
        <v-list-tile avatar tag="div">
          <v-list-tile-avatar>
            <img :src="user.photo" />
          </v-list-tile-avatar>
          <v-list-tile-content>
            <v-list-tile-title>
              {{ user.profile.first_name }} {{ user.profile.last_name }}
            </v-list-tile-title>
          </v-list-tile-content>
          <v-list-tile-action>
            <v-btn icon @click.stop="mini = !mini">
              <v-icon>chevron_left</v-icon>
            </v-btn>
          </v-list-tile-action>
        </v-list-tile>
      </v-list>
      <s-i-m-c-menu></s-i-m-c-menu>
    </v-navigation-drawer>
    <v-toolbar app fixed clipped-left v-if="isAuthenticated && !isSearching">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>Management system</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="$router.go(-1)">
        <v-icon>arrow_back</v-icon>
      </v-btn>
      <v-btn icon @click="isSearching = true">
        <v-icon>search</v-icon>
      </v-btn>
      <v-btn icon>
        <v-icon>more_vert</v-icon>
      </v-btn>
    </v-toolbar>
    <v-toolbar app fixed clipped-left v-if="isAuthenticated && isSearching">
      <v-btn icon dark large @click="isSearching = false"><v-icon>arrow_back</v-icon></v-btn>
      <v-text-field
        placeholder="Search"
        prepend-icon="search"
        id="search"
        clearable
        single-line
        solo
        key="search"
        v-model="search"
        ref="search"
        light
      ></v-text-field>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height>
        <v-layout justify-center align-center>
          <v-slide-x-transition mode="out-in">
            <router-view></router-view>
          </v-slide-x-transition>
        </v-layout>
      </v-container>
    </v-content>
    <v-footer app fixed>
      <v-layout justify-center align-center>
        <span>Copyright &copy; {{ new Date().getFullYear() }} all rights are reserved</span>
      </v-layout>
    </v-footer>
  </v-app>
</template>


<script>
import { IS_AUTHENTICATED } from '@/store/getters.type';
import SIMCMenu from '@/components/SIMCMenu';

export default {
  name: 'App',
  components: { SIMCMenu },
  data() {
    return {
      drawer: false,
      search: '',
      isSearching: false,
      mini: false,
    };
  },
  computed: {
    isAuthenticated() {
      return this.$store.getters[IS_AUTHENTICATED];
    },
    user() {
      return this.$store.state.auth.user;
    },
  },
  watch: {
    isAuthenticated() {
      if (!this.isAuthenticated) {
        this.$router.push('/login');
      }
    },
  },
};
</script>

<style>
[v-cloak] > * {
  display: none;
}

html {
  overflow-y: auto !important;
}
</style>
